html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DJ Bright Light
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href="./assets/css/app.css")
    
  body
    include ../components/header.pug
    include ../components/main.pug
    include ../components/footer.pug
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> 
    script.
        const Haudio = document.querySelector(".h-aud");    
        const Htime = document.querySelector(".h-time");      
        const HbtnPlay = document.querySelector(".h-play");   
        const HbtnPause = document.querySelector(".h-pause"); 
        const HbtnPrev = document.querySelector(".h-prev");   
        const HbtnNext = document.querySelector(".h-next"); 
        const audio = document.querySelector(".aud");    
        const time = document.querySelector(".time");      
        const btnPlay = document.querySelector(".play");   
        const btnPause = document.querySelector(".pause"); 
        const btnPrev = document.querySelector(".prev");   
        const btnNext = document.querySelector(".next");
        const first = document.querySelector(".track:nth-child(1)");


        const swiper = new Swiper(".swiper", {
        loop: true,
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
          nextEl: ".button-next",
          prevEl: ".button-prev",
        },
        breakpoints: {
          
         
          767.75: {
            spaceBetween: 30,
            slidesPerView: 3,
          },
          1: {
            spaceBetween: 15,
            slidesPerView: 2,
          },
        }
        
      });
            // Массив с названиями песен
        let Hplaylist = [
            'now.mp3',
            'love-me.mp3',
            'ghost.mp3',
            'n-say-goodbye.mp3',
            'now.mp3',
            'follow.mp3',
            
        ];
      
        let Htreck; // Переменная с индексом трека
        
        HbtnPlay.addEventListener("click", function() {
          HbtnPlay.style.display='none'
          HbtnPause.style.display='block'
        });
        HbtnPause.addEventListener("click", function() {
          HbtnPlay.style.display='block'
          HbtnPause.style.display='none'
        });
        
    


        function switchTreck (HnumTreck) {
        Haudio.currentTime = 1;
        // Включаем песню
        Haudio.play();
        }

        HbtnPlay.addEventListener("click", function() {
          Haudio.play(); // Запуск песни
          // Запуск интервала 
          
          HaudioPlay = setInterval(function() {
              // Получаем значение на какой секунде песня
              let HaudioTime = Math.round(Haudio.currentTime);
              // Получаем всё время песни
              let HaudioLength = Math.round(Haudio.duration)
              // Назначаем ширину элементу time
              Htime.style.width = (HaudioTime * 100) / HaudioLength + '%';
              // Сравниваем, на какой секунде сейчас трек и всего сколько времени длится
              // И проверяем что переменная treck меньше четырёх
              
            })
        });

        function formatTime(sec) {
          let minutes = Math.floor(sec / 60);
          let seconds = Math.floor(sec - minutes * 60);
          if (seconds < 10) {
            seconds = `0${seconds}`;
          }
          return `${minutes}:${seconds}`;
        } 


        HbtnPause.addEventListener("click", function() {
          Haudio.pause(); // Останавливает песню
          clearInterval(HaudioPlay) // Останавливает интервал
        });


        
        

        //-----------------------------------------------------------------

        
        


      
      